<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <title>Esport - admin</title>
</head>
<body>
<div class="wrapper">
    <div id="nav-placeholder">

    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load("nav.html");
        });
    </script>

    <div class="page-content">
        <header>Dodawanie informacji do bazy</header>

        <ul>
            <li><p><a href="/admin/add/teamMember">Dodaj członków do zespołu</a></p></li>
            <li><p><a href="/admin/add/match">Dodaj mecz</a></p></li>
            <li><p><a href="/admin/add/leagueTeam">Dodaj zespół do ligii</a></p></li>
            <li><p><a href="/admin/add/game">Dodaj grę</a></p></li>
        </ul>
    </div>
</div>
</body>
</html>