<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <title>Esport - gracze</title>
</head>
<body>
<div class="wrapper">
    <div id="nav-placeholder">
    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load("../../nav.html");
        });
    </script>

    <div class="page-content">
        <header>Dodaj gracza</header>

        <form th:action="@{/player/add}" th:object="${newPlayer}" method="post">
            <table class="long-search-table">
                <tr>
                    <td>
                        <p><label for="nickname">Podaj nickname:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="nickname" th:field="${newPlayer.nickname}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="name">Podaj imie:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="name" th:field="${newPlayer.name}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="surname">Podaj nazwisko:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="surname" th:field="${newPlayer.surname}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="age">Podaj wiek:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="age" th:field="${newPlayer.age}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="country">Podaj kraj:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="country" th:field="${newPlayer.country}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-primary" id="addPlayer" value="Dodaj"/>
                    </td>
                </tr>
            </table>
        </form>

        <header th:text="${addedMessage}"></header>
    </div>
</div>
</body>
</html>