<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <title>Esport - druzyna</title>
</head>
<body>
<div class="wrapper">
    <div id="nav-placeholder">
    </div>
    <script>
        $(function () {
            $("#nav-placeholder").load("../../nav.html");
        });
    </script>

    <div class="page-content">
        <header>Dodaj druzyne</header>

        <form th:action="@{/team/add}" th:object="${newTeam}" method="post">
            <table class="very-long-search-table">
                <tr>
                    <td>
                        <p><label for="name">Podaj nazwe druzyny:</label></p>
                    </td>
                    <td>
                        <input style="width: 80%" class="form-control" type="text" id="name"
                               th:field="${newTeam.name}" th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="date">Podaj date stworzenia:</label></p>
                    </td>
                    <td>
                        <input style="width: 80%" class="form-control" type="text" id="date"
                               th:field="${newTeam.creationDate}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="numberOfMatches">Podaj liczbe meczy:</label></p>
                    </td>
                    <td>
                        <input style="width: 80%" class="form-control" type="text" id="numberOfMatches"
                               th:field="${newTeam.numberOfMatches}"/>
                    </td>
                    <td>
                        <p>Nie jest wymagane aby podać liczby meczy, będzie się ona aktualizowała wraz z dodawaniem
                            kolejnych meczy.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-primary" id="addTeam" value="Dodaj"/>
                    </td>
                </tr>
            </table>
        </form>

        <header th:text="${addedMessage}"></header>
    </div>
</div>
</body>
</html>